body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;

  background-image : url(prism.png); 

}

.headercontainer {
  display: flex;
  justify-content: center; 
  align-content: center; 
  background-color: rgba(33, 160, 76, 0.342); 
}

.headercontainer h1{
  color : white; 
  
}

.btncontainer{

  width:100px; 
  margin: 0 auto; 

  margin-top: 150px; 
}

.btn{
  text-align: center; 
 

}